html, body {
  height: 100%;
  margin: 0;
}

#page {
  display: grid;
  height: 50vh; /* volle Höhe des Viewports */
  background-color: rgb(196, 196, 196);
  grid-template-columns: 1fr 2fr 1fr;   
  grid-template-rows   : 1fr 2em 1fr; /* flexible Höhen */
  gap: 0.5em; /* Abstand zwischen den Elementen */
}

#video {
   grid-column-start : 2;
   grid-column-end   : 3;
   grid-row-start    : 1;
   grid-row-end      : 2;
   justify-self      : center;                    /* im Grid horizontal mittig */
   align-self        : center;                      /* im Grid vertikal mittig */
}

#countdown {
   grid-column-start : 2;
   grid-column-end   : 3;
   grid-row-start    : 1;
   grid-row-end      : 2;
   font-family: 'Courier New', monospace;   /* Retro/Pixel-Look */
   font-size: 1.5em;                        /* schön groß */
   font-weight: bold;                       /* kräftig */
   color: rgba(5, 158, 5, 0.47);                            /* grün */
   text-align: center;                      /* horizontal zentriert */
   justify-self: center;                    /* im Grid horizontal mittig */
   align-self: start;                      /* im Grid vertikal mittig */
}

#highscore {
   grid-column-start : 2;
   grid-column-end   : 3;
   grid-row-start    : 2;
   grid-row-end      : 3;

   font-family: 'Courier New', monospace;   /* Retro/Pixel-Look */
   font-size: 1.5em;                        /* schön groß */
   font-weight: bold;                       /* kräftig */
   color: rgba(22, 180, 22, 0.815);                            /* grün */
   text-align: center;                      /* horizontal zentriert */
   justify-self: center;                    /* im Grid horizontal mittig */
   align-self: center;                      /* im Grid vertikal mittig */
}

#smileChart {
   grid-column-start : 1;
   grid-column-end   : 4;
   grid-row-start    : 3;
   grid-row-end      : 4;
}

